---
---
<header class="site-header">
  <a href="/" class="logo">
    <img src="/seal.png" alt="grissobel" />
  </a>
</header>

<style>
  .site-header {
    width: 90%;
    max-width: 600px;
    padding: 2rem 0 0 0;
    display: flex;
    justify-content: center;
  }

  .logo img {
    width: 60px;
    opacity: 0.85;
  }

  .logo img:hover {
    opacity: 1;
  }
</style>